@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Lato:wght@400;700&display=swap');

:root {
    --color-primary: #58331a;
    --color-heading: #f9f5d7;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Lato', sans-serif;
}
.reveal {    
    background-color: var(--color-heading);
}
.reveal strong { 
    color: var(--color-primary);

}
.reveal h1 {
    font-size: 2.5em;
   color: var(--color-primary);
}
.reveal h2 { 
    font-size: 1.9em ;
    color: var(--color-primary);
}

.reveal .slide {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.reveal p {
    font-size: 1em;
    line-height: 1.4;
}

.reveal li {
    font-size: 0.8em;
    line-height: 1.4;
    margin-bottom: 0.5em;
    text-align: justify;
}
.reveal th {
    color: var(--color-primary);
    text-align: justify;
}
.reveal table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    font-size: 0.7em;
}
.reveal td {
    text-align: justify !important;
}

.reveal h3 {
    font-size: 0.9em;
}